/* website body  */
body{
    background-color: #2C2C2C;
    background-size: cover;
}

/* animal image container  */
.container{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;   
}

/* website title  */
h1{
    border: 2px solid white;
    border-right-width: 100px;
    border-left-width: 100px;
    color: white;
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* all images  */
img{
    transition: all .5s;
    width: 450px;
    height:auto;
    max-width: 100%;
    margin:0;
    margin-bottom:18px;
}

/* all image on mouse hover  */
img:hover{
    cursor: pointer;
    transform: scale(1.1)
}

/* all links */
a{
    color: white;
    text-decoration: none;
}

/* header */
header{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-color:#222222;
    position: absolute;
    width:100%;
    top:0px;
    right:0px;
    left:0px;
    bottom:0px;
    height: 35px;
    padding-top:10px;
    font-size:18px;
}

/* footer */
footer{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: white;
    background-color: #222222;
    flex-shrink: 0px;
    bottom: 0px;
    right:0px;
    left: 0px;
    height: 20px;
    padding: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    width:auto;
    font-size:16px;
}

/* website title text */
.title1{
    text-align: center;
    font-size:22px;
    border-right-width:0px;
    border-left-width:0px;
}

/* current page displayed top left */
.currentpage{
    display: inline;
    margin:0;
    bottom:0;
    top:0;
    padding-left: 20px;
}

/* all site pages top right */
.pages{
    display: inline;
    float:right;
    margin:0;
    bottom:0;
    top: 0;
    padding-right: 20px;
}